<h2 class="heading">Sign up</h2>
<br />
<div class="main_content">
  <div class="form">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :name, class: 'label' %>
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class: 'input-box' %>
      </div>
      <br />
      <div class="field">
        <%= f.label :email, class: 'label' %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input-box' %>
      </div>
      <br />
      <div class="field">
        <%= f.label :password, class: 'label' %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", class: 'input-box' %>
      </div>
      <br />
      <div class="field">
        <%= f.label :password_confirmation, class: 'label' %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'input-box' %>
      </div>
      <br />
      <div class="actions">
        <%= f.submit "Sign up", class: 'button imp-btn' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>