<h2 class="heading">Log in</h2>
<br />

<div class="main_content">
  <div class="form">

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email, class: 'label' %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input-box' %>
      </div>
        <br />
      <div class="field">
        <%= f.label :password, class: 'label' %>
        <%= f.password_field :password, autocomplete: "current-password", class: 'input-box' %>
      </div>
        <br />
      <% if devise_mapping.rememberable? %>
        <div class="inline-field">
          <%= f.label :remember_me, class: 'label' %>
          <%= f.check_box :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in", class: 'button imp-btn' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>



