<!DOCTYPE html>
<html>
  <head>
    <title>UrlShortener</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
  </head>

  <body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <nav>
    <% if user_signed_in? %>
      <ul>
        <li><%= link_to 'Home', root_path, class: 'nav_link' %></li>
        <li><%= link_to 'My Urls', my_urls_path, class: 'nav_link' %></li>
        <li><%= link_to 'Profile', edit_user_registration_path, class: 'nav_link' %></li>
        <li><%= button_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav_link' %></li>
      </ul>
    <% else %>
      <ul>
        <li><%= link_to 'Home', root_path, class: 'nav_link' %></li>
        <li><%= link_to 'Login', new_user_session_path, class: 'nav_link' %></li>
        <li><%= link_to 'Sign up', new_user_registration_path, class: 'nav_link' %></li>
      </ul>
    <% end %>
  </nav>


  <%= yield %>
  </body>
</html>
